@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Base styles */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", sans-serif; /* Using Roboto font for the entire application */
  box-sizing: border-box;
}

/* Applying box-sizing globally */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Default styling for elements */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background color */
  color: #333; /* Default text color */
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

/* Flex utility class */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
